body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
{
    margin:0;
    padding:0
}table
{
    border-collapse:collapse;
    border-spacing:0
}fieldset,img
{
    border:0
}address,caption,cite,code,dfn,em,strong,th,var
{
    font-style:normal;
    font-weight:normal
}ol,ul 
{
    list-style:none
}caption,th 
{
    text-align:left
}h1,h2,h3,h4,h5,h6
{
    font-size:100%;
    font-weight:bold
}q:before,q:after
{
    content:''
}abbr,acronym 
{
    border:0
}body
{font:13px arial,helvetica,clean,sans-serif;
    *font-size:small;
    *font:x-small
}table 
{
    font-size:inherit;
    font:100%
}select,input,textarea 
{
    font:99% arial,helvetica,clean,sans-serif
}pre,code 
{
    font:115% monospace;
    *font-size:100%
}body * 
{
    line-height:1.22em
}body
{
    text-align:center
}

/*
#debug{text-align:left;border-top:1px dashed black;padding:0.3em;background-color:#fff}

#debug table{border-collapse:collapse}

#timingpoints,

#timeaccumulators,

#debug table.debug_resource_usage{border:1px dashed black}

#debug table tr.group td{padding-top:0.7em;font-size:0.95em}

#debug table tr.group td:first-child{padding-left:0.2em;font-size:1em}

#debug table tr.data td{background-color:#fff;border-top:1px solid #448;border-bottom:1px solid #448;font-family:Arial,Helvetica,sans-serif;font-size:0.95em}#debug table tr.data:nth-child(odd) td {  background-color:#eee}

#debug table + h2,#debug table + h3{margin-top:1em}

#debug table.debug_resource_usage th + th,

#debug table.debug_resource_usage td + td,table#timeaccumulators th + th,table

#timeaccumulators td + td,table

#timingpoints th + th,table#timingpoints td + td{padding:0.25em 0.5em 0.25em 0.5em}

#debug th{text-align:left}

#debug span.debuginfo:after{border:2px solid #23a4f5;border-radius:10px;color:#23a4f5;height:10px;width:10px;line-height:10px;font-size:10px;content:"i";margin-left:5px;padding:0 5px 0 5px;opacity:0.6}

#debug span.debuginfo:hover:after { opacity:1}

#templateusage tr.data td:first-child,

*/
/*

#templateusage tr.data td:nth-child(n+5) { text-align:center}
*/

/*

#debug tr.notice  td.debugheader span { color:green}

#debug tr.warning td.debugheader span { color:orange}

#debug tr.error   td.debugheader span { color:red}

#debug tr.debug   td.debugheader span { color:brown}

#debug tr.timing  td.debugheader span { color:blue}
*/


#debug tr.strict  td.debugheader span
{
    color:purple
}body,button
{
    margin:0;
    padding:0;
    font-family:Arial,Helvetica,sans-serif;
    color:#252525;
    font-size:11px;
    text-align:left
}h1,h2,h3,h4,h5,h6,p,form,input
{
    margin:0;
    padding:0
}h1,h2,h3,h4,h5,h6
{
    font-weight:bold
}a
{
    text-decoration:none;
    color:#000;
    cursor:pointer
}a:hover
{
    text-decoration:none
}ul
{
    margin:0;
    padding:0;
    list-style-type:none
}fieldset
{
    border:none;
    padding:0;
    margin:0
}legend
{
    display:none
}img
{
    border:none
}.breaker
{clear:both;
    height:0;
    overflow:hidden;
    margin:0;
    padding:0
}.float_left
{float:left
}.float_right
{
    float:right
}.object-left
{
    float:left
}.object-right
{
    float:right
}.object-center
{
    text-align:center
}body
{
    background-color:#e7e7e7
}

/*This one's real important- come back to it.*/
#page{width:1024px;background:#FFF;margin:0 auto}
/*This one's real important- come back to it.*/

#header img{float:left}

#header object{float:left}

#Contenu_centre{width:736px;padding:16px 20px 0 16px;float:left}h3{font-size:165%}h1 {display:none}

#page

#headernav {min-height:39px;height:auto;background:#343434 url(http://www.dublinbikes.ie/design/dublin/images/img_css/bg_nav_hor.png) no-repeat left top;margin:0}

#page

#headernav .nav_principale {min-height:33px;height:auto;padding:6px 0 0 21px;text-transform:uppercase;float:left;padding-right:20px}

#headernav .nav_principale li{float:left;font-size:100%;font-weight:bold;padding-top:8px}

#headernav .nav_principale li a{color:#FFF;font-weight:bold;padding:0 17px 0 12px}

#col_gauche
{
    width:230px;
    height:700px;
    padding:16px 0 0 20px;
    float:left
}

#machine_learn_blc
{
    height:250px;
}

#col_gauche h3{font-size:180%}

#my_account_detail .bas_my_account
{
    background:url(http://www.dublinbikes.ie/design/dublin/images/img_css/bg_bas_my_account.png) no-repeat top;
    height:8px
}.forml_rech
{
    float:right;
    padding:7px 0 0 0
}.form_nav
{
    width:170px
}.forml_rech input.val_rech
{height:22px;
    vertical-align:top;
    width:122px;
    padding:9px 0 0 6px;
    margin:0;
    background-image:url(/design/dublin/images/img_css/bg_input.png);
    background-repeat:no-repeat;
    background-position:left;
    background-color:transparent;
    border:none;
    margin-top:-3px;
    color:#252525
}.forml_rech input.valid
{vertical-align:middle;
    margin:0 0 0 -4px
}a.myaccount
{
    background:url(/design/dublin/images/img_css/bg_my_account.png) no-repeat;
    display:block;
    height:61px;
    padding:10px 0 0 60px;
    margin:4px 0 0 23px;
    font-weight:bold;
    font-size:165%;
    width:123px
}a.myaccount_detail
{
    background:url(/design/dublin/images/img_css/bg_mon_compte.png) no-repeat
}

.boxcontent .forml_rech input.val_rech
{
    width:176px;
    font-weight:bold
}.boxcontent .pad_form_search
{
    float:none;
    padding:5px 0 10px 0;
    text-align:center
}

#station,.full-img
{
    background:#c1d1d6 url(http://www.dublinbikes.ie/design/dublin/images/img_css/bg_top_newsleter.png) top no-repeat;
    width:208px;
    padding:8px 9px 0 9px
}.bas_station,.bas_boxsubscribe
{
    background:#fff url(http://www.dublinbikes.ie/design/dublin/images/img_css/bg_bas_newsleter.png) bottom no-repeat;
    width:226px;
    height:8px;
    margin-bottom:9px
}.cont_blc_img_full
{
    background:#fff url(http://www.dublinbikes.ie/design/dublin/images/img_css/bg_top_cont_newsleter.png) top no-repeat;
    width:209px;
    padding:0
}.cont_blc_station
{
    background:#fff url(http://www.dublinbikes.ie/design/dublin/images/img_css/bg_top_cont_newsleter.png) top no-repeat;
    height: 190px;
    width:209px;
    padding:0 0 5px 0
}
.cont_blc_station_ml
{
    background:#fff url(http://www.dublinbikes.ie/design/dublin/images/img_css/bg_top_cont_newsleter.png) top no-repeat;
    height: 260px;
    width:209px;
    padding:0 0 5px 0
}

#station .cont_fond_dynamq,.full-img .cont_blc_img_full .cont_fond_dynamq
{
    padding:0;
    min-height:99px;
    height:auto
}
.bas_cont_blc_station
{
    background:#fff bottom no-repeat;
    width:209px;
    text-align:left;
    overflow:hidden
}

#station h3,.full-img .cont_blc_img_full h3
{
    color:#286679;
    font-size:165%;
    padding:4px 0 2px 9px
}

#col_gauche p
{
    padding:0 0 0 10px;
    font-size:110%
}a.lien_compose
{
    display:block;
    width:auto
}a:hover span.txt_lien
{
    color:#6a9eae
}a span.txt_lien
{
    color:#000
}a.all_station
{
    margin:6px 0 0 13px
}a.lien_recherche
{
    background:url(http://www.dublinbikes.ie/design/dublin/images/img_css/bg_lien_recherche.gif) no-repeat;
    display:block;
    height:21px;
    padding:8px 0 0 33px;
    margin-left:3px;
    margin-top:2px;
    font-weight:bold;
    font-size:100%;
    width:185px;
    text-transform:uppercase
}.newsletter
{
    background:#4d8b9e url(/design/dublin/images/img_css/bg_top_bleu.png) top no-repeat;
    width:208px;
    padding:8px 9px
}.newsletter h3
{
    color:#252525;
    padding:7px 0 0 9px;
    font-size:155%
}.newsletter a
{text-decoration:underline;
    font-size:110%;
    display:block;
    margin:0 7px 0 3px;
    font-weight:bold
}.cont_lang ul
{
    padding-left:8px
}.cont_lang ul li
{padding:5px 5px 0 0;
    float:left;
    font-size:90%
}.cont_lang ul li a
{
    text-decoration:none;
    float:left
}.newsletter ul li.last
{
    background:none
}.bas_newsleter
{
    background:#4d8b9e url(/design/dublin/images/img_css/bg_bas_bleu.png) bottom no-repeat;
    width:226px;
    height:2px;
    margin-bottom:7px
}.newsletter .cont_blc_station .cont_fond_dynamq a
{
    padding-left:5px
}

#col_droite
{
    width:230px;
    padding:16px 0 0 0;
    float:left
}.boxcontent .cont_blc_recherche
{
    background:#fff url(http://www.dublinbikes.ie/design/dublin/images/img_css/bg_top_blc.gif) top no-repeat;
    width:213px;
    padding:10px 0 5px 0;
    margin-left:5px
}.boxcontent .bas_cont_blc_recherche
{
    background:url(http://www.dublinbikes.ie/design/dublin/images/img_css/bg_bas_blc.png) top no-repeat;
    width:213px;
    height:11px;
    text-align:left;
    margin-left:5px
}.boxcontent .res_rech p
{
    font-size:100%;
    font-weight:bold;
    padding:0 10px 0 0
}.boxcontent .res_rech p.pad_bot
{
    margin-bottom:13px
}.boxcontent .res_rech p span
{
    font-weight:normal
}h3.titr_rech_gauche
{
    padding:1px 0 5px 7px;
    color:#FFF
}

#footer{margin-top:30px;padding-bottom:20px;text-align:center}

#footer ul{text-align:center;font-size:110%;padding-top:10px}

#footer div.sd_list {margin:auto}

#footer div.sd_list ul{font-size:100%;padding-top:10px}

#footer div.sd_list ul li{color:#868686}

#footer div.sd_list ul li a{color:#868686}

#footer ul li
{
    color:#000;
    padding:0;
    display:inline
}#footer ul li a
{
    color:#000;
    padding:0 4px 0 0
}#footer ul li.last
{
    background:none
}#footer ul li.last
{
    background:none
}#bloc1_d
{
    width:226px;
    margin-bottom:10px
}#bloc1_d .top_bloc1_d
{background:url(/design/dublin/images/img_css/bg_bloc_vert.png) no-repeat top;
    height:6px;
    overflow:hidden
}#bloc1_d .cont_bloc1_d
{background:url(/design/dublin/images/img_css/bg_cont_bloc1_d.png) repeat-x bottom #286679;
    border-left:3px solid #174b5c;
    border-right:3px solid #174b5c;
    text-align:center;
    width:220px;
    overflow:hidden
}#bloc1_d .cont_bloc1_d img
{
    margin:0;
    padding:0
}#bloc1_d .fond_blanc,#bloc_optionnel .fond_blanc
{background:#fff;
    padding:0;
    margin-top:10px;
    width:198px;
    margin:0 auto
}#bloc1_d .fond_blanc h3
{
    font-size:165%;
    padding:14px 0 0 9px;
    line-height:18px
}#bloc1_d .fond_blanc p
{
    padding:5px 10px 10px 10px;
    line-height:14px
}#bloc1_d .bas_bloc1_d
{
    background:url(/design/dublin/images/img_css/bg_bas_bloc_vert2.png) top no-repeat;
    height:9px;
    overflow:hidden
}

{
    text-align:center;
    padding:0 2px
}.newsletter .cont_blc_station  p
{
    font-size:110%;
    width:175px
}.langue
{
    padding:3px 9px 1px 9px
}.cont_lang
{
    padding:0
}p.powrd_by
{
    color:#dbe1e3;
    text-align:center;
    padding-top:2px
}#col_gauche .bloc_recherche
{
    width:225px;
    margin-bottom:7px;
    float:left
}

#bloc1_centre .bas_bloc1_centre
{
    background:url(/design/dublin/images/img_css/bg_bas_bloc1.png) top no-repeat;
    height:12px
}#bloc2_centre .bas_bloc2_centre
{
    background:url(/design/dublin/images/img_css/bg_bas_bloc2_large.png) top no-repeat;
    height:15px
}a.lien_voir_actu
{
    background:url(/design/dublin/images/img_css/bg_lien_voir_actu.gif) no-repeat;
    display:block;
    height:21px;
    padding:6px 0 0 32px;
    margin-left:0;
    font-weight:bold;
    font-size:100%;
    text-transform:uppercase;
    width:188px;
    float:left
}.image_article
{
    float:left;
    padding:5px 11px 5px 3px
}.txt_riche p
{
    font-size:110%
}a.sabonner
{
    margin-top:10px
}a.sav_plus
{
    margin-top:14px
}

#bloc_horz
{
    padding:20px 0 0 0
}.td_faq
{
    background-color:#4d8b9e
}.last_txt
{
    padding-top:20px
}h4.titr_recherche
{
    font-size:127%;
    padding:17px 0 5px 0
}.padborder_color p.full_size
{
    font-size:90%
}.pad_bloc_theme
{
    padding:0
}.pad_bloc_blanc_theme
{
    margin-right:1px
}.top_intero
{
    background:url(/design/dublin/images/img_css/bg_top_bloc_bleu.png) no-repeat top;
    height:3px;
    overflow:hidden;
    width:236px
}.bas_intero
{
    background:url(/design/dublin/images/img_css/bg_bas_bloc_bleu.png) no-repeat top left ;
    height:8px;
    width:236px
}.cont_intero
{background:#4d8b9e url(/design/dublin/images/img_css/bg_faq.png) right top no-repeat;
    min-height:120px;
    height:auto;
    color:#FFF;
    padding:7px 0 5px 8px;
    width:228px
}.cont_intero p
{
    font-size:110%
}a.reponse
{
    display:block;
    width:auto;
    margin-top:10px
}span.left_rep
{
    display:block;
    height:27px;
    background:url(/design/dublin/images/img_css/left_rep.png) no-repeat left;
    width:16px;
    float:left
}span.txt_rep
{
    display:block;
    float:left;
    background:url(/design/dublin/images/img_css/txt_rep.png) repeat-x;
    height:12px;
    padding:7px 3px 8px 3px;
    text-transform:uppercase;
    font-weight:bold;
    color:#252525
}span.right_rep
{background:url(/design/dublin/images/img_css/right_rep.png) no-repeat right;
    display:block;
    float:left;
    height:27px;
    width:14px
}

#bloc_velo{width:236px;float:left;height:100%}

#bloc_velo .top_velo
{
    background:url(/design/dublin/images/img_css/bg_top_bloc2.png) top no-repeat;
    height:8px;
    overflow:hidden
}

#bloc_velo .cont_velo
{
    min-height:100px;
    height:auto;
    padding-left:5px;
    margin-left:3px;
    width:220px;
    padding-bottom:0
}

#bloc_velo .cont_velo p
{
    font-weight:bold;
    font-size:110%;
    padding:5px 0 5px 3px;
    line-height:20px
}.bloc_velo_chiffre
{
    padding-left:12px;
    background:url(/design/dublin/images/img_css/bg_border.png) repeat-y right #f1f1f1
}.bas_velo
{
    background:url(/design/dublin/images/img_css/bg_bas_bloc2.png) top right no-repeat ;
    height:8px
}

#bloc_velo .cont_velo p.nb_velo{font-size:235%;color:#4d8b9e;padding:6px 0 12px 3px}

#bloc_velo h3{color:#6a9eae}h3.titre_last{padding-top:10px;padding-bottom:3px}img.img_last{padding:5px 16px 5px 3px}

#article
{width:750px}
.border_color,
.border_color_article,
.border_color_theme
{
    background:#fff;
    padding:10px;border-left:3px solid #6a9eae;
    border-right:3px solid #6a9eae;
    height:100%;font-size:110%
}
.border_color_theme{padding:0 10px 0 10px}
.border_color_article{padding:0 10px 10px 10px}
.padborder_color{padding:0 17px}

.lien_fond_color
{
    display:block;
    height:18px;
    background:url(/design/dublin/images/img_css/left_lien_bleu.png) no-repeat left;
    font-weight:bold;
    padding:6px 0;
    width:10px;
    float:left
}
.txt_lien_fond_color
{
    display:block;
    float:left;
    background:url(/design/dublin/images/img_css/midle_lien_bleu.png) repeat-x;
    height:12px;
    padding:10px 0 8px 0;
    width:auto;
    color:#FFF;
    width:auto;
    font-weight:bold;font-size:110%
}
.right_lien_fond_color
{
    background:url(/design/dublin/images/img_css/right_lien_bleu.png) no-repeat right;
    display:block;
    float:left;
    height:30px;
    width:10px
}
.lien_fond_color1,
.lien_fond_color2
{
    display:block;
    height:27px;
    background:url(/design/dublin/images/img_css/bg1_left.png) no-repeat left top;
    font-weight:bold;padding:6px 0;
    float:left;
    width:28px
}
.lien_fond_color2
{
    background:url(/design/dublin/images/img_css/left_lien_bleu2.png) no-repeat left top;
    width:12px
}
.txt_lien_fond_color1
{
    display:block;
    float:left;
    background:url(/design/dublin/images/img_css/bg1_midle.png) repeat-x;
    height:21px;
    padding:10px 0 8px 0;
    width:auto;
    color:#FFF;
    width:auto;
    font-weight:bold;
    font-size:110%
}
span.right_lien_fond_color1,
span.right_lien_fond_color2
{
    background:url(/design/dublin/images/img_css/bg1_right.png) no-repeat right;
    display:block;
    float:left;
    height:39px;
    width:20px}
span.right_lien_fond_color2
{
    background:url(/design/dublin/images/img_css/right_lien_bleu2.png) no-repeat right;
    width:14px
}
li.actif
.lien_fond_color
{
    background:url(/design/dublin/images/img_css/left_lien_actif.png) no-repeat left
}li.actif
.txt_lien_fond_color
{background:url(/design/dublin/images/img_css/midle_lien_actif.png) repeat-x
}
li.actif
.right_lien_fond_color
{
    background:url(/design/dublin/images/img_css/right_lien_actif.png) no-repeat right}
ul.syst_onglet
{
    padding:0 10px
}
ul.syst_onglet
li
{
    float:left;
    padding-bottom:13px;
    background:#fff
}
ul.syst_onglet
li.last
span.right_lien_fond_color
{
    background:url(/design/dublin/images/img_css/bg_right_last.png) no-repeat right;
    display:block;
    float:left;
    height:39px;
    width:27px}
ul.syst_onglet
li.last
span.right_lien_fond_color_last
{
    background:url(/design/dublin/images/img_css/bg_right_on_last.png) no-repeat right;
    display:block;
    float:left;
    height:39px;
    width:27px
}
ul.syst_onglet
li.last
{

}
.separt_color
{
    border-top:2px solid #4d8b9e;
    height:2px;
    overflow:hidden;
    margin:20px 0;
    clear:both
}

.arrondi_color
{
    background:transparent;
    width:100%;
    margin:0 auto
}
.arrondi_color
.top,
.arrondi_color
.bottom
{
    display:block;
    background:transparent;
    font-size:1px
}
.arrondi_color
.b1,
.arrondi_color
.b2,
.arrondi_color
.b3,
.arrondi_color
.b4,
.arrondi_color
.b1b,
.arrondi_color
.b2b,
.arrondi_color
.b3b,
.arrondi_color
.b4b
{
    display:block;
    overflow:hidden
}
.arrondi_color
.b1,
.arrondi_color
.b2,
.arrondi_color
.b3,.arrondi_color
.b1b,
.arrondi_color
.b2b,
.arrondi_color
.b3b
{
    height:1px
}
.arrondi_color
.b2
{
    background:#6a9eae;
    border-left:1px solid #6a9eae;
    border-right:1px solid #6a9eae
}
.arrondi_color
.b3
{
    background:#6a9eae;
    border-left:1px solid #6a9eae;
    border-right:1px solid #6a9eae
}
.arrondi_color
.b4
{
    background:#6a9eae;
    border-left:1px solid #6a9eae;
    border-right:1px solid #6a9eae
}
.arrondi_color
.b4b
{
    background:#6a9eae;
    border-left:1px solid #6a9eae;
    border-right:1px solid #6a9eae
}
.arrondi_color
.b3b
{
    background:#6a9eae;
    border-left:1px solid #6a9eae;
    border-right:1px solid #6a9eae
}
.arrondi_color
.b2b
{
    background:#6a9eae;
    border-left:1px solid #6a9eae;
    border-right:1px solid #6a9eae
}

.arrondi_color
.b1
{
    margin:0 5px;
    background:#6a9eae
}
.arrondi_color
.b2,
.arrondi_color
.b2b
{
    margin:0 3px;border-width:0 2px
}
.arrondi_color
.b3,
.arrondi_color
.b3b
{
    margin:0 2px
}
.arrondi_color
.b4,
.arrondi_color
.b4b
{
    height:2px;
    margin:0 1px
}
.arrondi_color

.b1b
{
    margin:0 5px;
    background:#6a9eae
}
.boxcontent
{
    display:block;
    background:#6a9eae;border-left:1px solid #6a9eae;
    border-right:1px solid #6a9eae
}
#SubscriberLanguage  {display:none}

#header .content-view-embeddedmedia,div#col_droite div.cont_blc_img_full div.cont_fond_dynamq div.content-view-embeddedmedia{margin-bottom:0}.content-view-embeddedmedia{margin-bottom:5px}.object-left .content-view-embeddedmedia{margin-right:5px}.object-right.content-view-embeddedmedia{margin-left:5px}

#page

#cookie-law-wrapper

a{text-decoration:underline;color:#4d8b9e}
.pagelayout_fullmap {background:transparent}.pagelayout_fullmap

#article {border:none;width:99%}.pagelayout_fullmap .renderedtable {clear:both}.pagelayout_fullmap

#map {
}
#map
{
    width:722px !important;
    height:520px !important
}.pagelayout_fullmap .txt_riche,.border_color_article
{
    border:3px solid #6a9eae
}.pagelayout_fullmap .bas_article
{
    background:none;
    height:0
}h2.reabo
{
    color:#000;
    margin-bottom:4px;
    font-size:167%
}.reabo_box
{
    width:500px;
    background:url(/design/dublin/images/css/top_bordorg_arrondi_reabo_violet.png) no-repeat top white;
    padding-top:12px;
    margin-bottom:10px
}.reabo_box .content
{
    border-left:2px solid #6a9eae;
    border-right:2px solid #6a9eae;
    background:#fff;
    padding-left:4px;
    padding-right:4px;
    padding-bottom:10px;
    padding-top:10px
}.reabo_box .bas
{
    background:url(/design/dublin/images/css/bas_bordorg_arrondi_reabo_violet.png) no-repeat top;
    height:13px
}.reabo_bouton
{color:#4A4D4A;
    height:20px;
    margin-left:4px
}.reabo_bouton.violet
{
    background:#c0d6dd;border:1px solid #6a9eae
}.reabo_bouton.gris
{
    background:#b8b8b8;
    border:1px solid #797979
}