<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-IE" lang="en-IE">

<head>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"> </script>
	
	<!--chart js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title> dublinbikes / Station Map / Availability Predictor </title>

</head>

    <body>

        <div id="page">
            <!--Header -->
            <div id="header">
                <img src="{{ url_for('static', filename='images/dublin_bikes_logo.jpg') }}" title="" alt="" />
            </div>
            <!--Fin Header -->
            
            <div class="breaker"></div>
            
            <!--Navigation horizontale -->
            <div id="headernav">
                <ul class="nav_principale">
                    <li class="first"><a href=/homepage title="Home" style="text-decoration:none;">Home</a></li>
                </ul>
                <!--[if !IE]> <-->  <br clear="left" /><!--> <![endif]-->
            </div>
            <!--Fin Navigation horizontale -->
            
            <div class="breaker"></div>                        
            
            <div id="contener">
            <!--Contenu centre -->
                <div id="Contenu_centre">
                    <div id="article">
                        
                        <div class="breaker"></div>

                        <div class="txt_riche border_color_article">
                            
                            <div id="map"></div>
                            
                            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFfQele6SPurbIljoHv4tVF5USA_7y1-o&callback=initMap"></script>
  
                            <div class="NewRow">                           
                                <div class="NewColumn" style="width: 15%">
                                    <div id="station">
                                        <div class="cont_blc_station">
                                            <div class="cont_fond_dynamq">
                                                <h3><span>Legend</span></h3>
												<br><p>Smaller size icon indicators less than 10 bikes available</p><br>
                                                <div class="LegendRow">
                                                    <div class="TextColumn"><p>St. Stephen's Green<br></div>
                                                    <div class="IconColumn"><img class="icons" src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" width="22" height="22"  style="border:0px;" alt="green" title="green"/></div>
                                                </div>
                                                <div class="LegendRow">
                                                    <div class="TextColumn"><p>Bord Gais<br></div>
                                                    <div class="IconColumn"><img  src="http://maps.google.com/mapfiles/ms/icons/pink-dot.png" width="22" height="22"  style="border:0px;" alt="pink" title="pink"/></div>
                                                </div>
                                                <div class="LegendRow">
                                                    <div class="TextColumn"><p>Guiness Storehouse<br></div>
                                                    <div class="IconColumn"><img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png" width="22" height="22"  style="border:0px;" alt="yellow" title="yellow"/></div>
                                                </div>
                                                <div class="LegendRow">
                                                    <div class="TextColumn"><p>The Spire<br></div>
                                                    <div class="IconColumn"><img  src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" width="22" height="22"  style="border:0px;" alt="blue" title="blue"/></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

								<div class="NewColumn" style="width: 10%">
									<div id="station">
									<h3><span>Overlays</span></h3>
									<br><p>Please click on/off buttons below to display cycling lane/traffic information</p><br>
									<div class="LegendRow">
										<div class="TextColumnB">
											<p>
												<i class="material-icons" style="color:blue">directions_bike</i><br>
											</p>
										</div>

										<div class="IconColumnB">
										<p>
											<input type="button" value="on" onclick="traffic(1)">
											<input type="button" value="off" onclick="traffic(2)">
										</p>
										</div>
									</div>

									<div class="LegendRow">
										<div class="TextColumnB">
											<p>
												<i class="material-icons" style="color:blue">traffic</i><br>
											</p>
										</div>

										<div class="IconColumnB">
											<p>
												<input type="button" value="on" onclick="traffic(3)">
												<input type="button" value="off" onclick="traffic(4)">
											</p>
										</div>
									</div>
										<input type="button" value="Refresh Map" onclick="initMap(11)">
										</div>
								</div>


                                <div class="NewColumn" style="width: 40%">
                                <div id="station">
                                        <div class="cont_blc_station">
                                            <div class="cont_fond_dynamq">
                                                <h3 ><span>Journey planner</span></h3>
												<br><p>Please enter a start and end point ie Rathmines, The Spire etc. Use no punctuation in box ie Stephen's Green is Stephen Green.</p><br>
                                                Start Point: <input type="text" id="start" name="startPoint" >
                                                <br><br>
                                                End Point: <input type="text" id="end" name="endPoint" >
												<br>
												<input type="button" value="submit" onclick="calcRoute()">

												<div id="loader" style="display:none;" ></div>
												<div id="result" class="animate-bottom"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="NewColumn" style="width: 25%">
                                    <div id="station" align="left">
                                        <div class="cont_blc_station">
                                            <div class="cont_fond_dynamq">
                                                <section class="ajax-section">
                                                <ul class="cities">
                                                    <li class="weatherList"></li>
                                                </ul>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="breaker"></div>

                    </div>

                    <div class="bas_article"></div>
                </div>
            </div>
            <!--Fin Contenu centre -->

            <!--            stack overflow-->

            <div class="Row">
                <div class="ColumnA">
                    <br>
                    <h3 class = "FurtherInfo"><span>Select a station below for live updated information</span></h3>
                    <br>
                    <select id="stationdrop" class="dropdowns">
        			</select>
					<h4 id="bikeInfo"></h4><br>
					<div id="futureDayDropdown" style="display: none;">
						<h3 class="FurtherInfo"><span>Bike availability and weather predictor</span></h3>
                        <br>
						<select id="futureDays" class="dropdowns">
						</select>
						<select id="futurehours" class="dropdowns">
                            <option value="06:00:00">06:00:00</option>
                            <option value="09:00:00">09:00:00</option>
                            <option value="12:00:00">12:00:00</option>
                            <option value="15:00:00">15:00:00</option>
                            <option value="18:00:00">18:00:00</option>
							<option value="21:00:00">21:00:00</option>
						</select>
						<input type="submit" onclick="return futurePredict()" />
                        <h4 id="predictionInfo"></h4><br>
                        <h4 id="predictionWeather"></h4><br>
					</div>
                </div>

                <div class="ColumnA">
                    <br>
					<h3 class = "FurtherInfo"><span>Average Bikes Available per day</span></h3>
                    <br>
					<div id="loaderGraphDays" style="display:none;" ></div>
					<canvas id="line-chart"></canvas>
                </div>

                <div id ="Charting" class="ColumnA">
                    <br>
					<h3 class = "FurtherInfo"><span>Average Bikes Available per hour</span></h3>
                    <br>
					<div id="dayDropdown" style="display: none;">
						<select id="days" onchange="lineGraphHours(this.value);">
							<option value="Monday">Monday</option>
							<option value="Tuesday">Tuesday</option>
							<option value="Wednesday">Wednesday</option>
							<option value="Thursday">Thursday</option>
							<option value="Friday">Friday</option>
							<option value="Saturday">Saturday</option>
							<option value="Sunday">Sunday</option>
						</select>
					</div>
					<div id="loaderGraphHours" style="display:none;" ></div>
					<canvas id="line-chart-hours"></canvas>
                </div>
            </div>
            <!--            stack overflow-->
            <!-- footer -->
            <div id="footer">
                <ul>
                    <li><a href="/homepage" title="Home">Home</a></li>
                </ul>
                
                <div class="breaker"></div>
                
                <div class="sd_list">
                    <ul>
                        <li>Copyright: </li>
                        <li><a href="https://github.com/" target="_self">gitHub</a></li>
                    </ul>
                </div>
            </div>
            <!-- Fin footer -->
    </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/weather.js') }}"></script>

    </body>
    
</html>